.picker {
  position: absolute;
  text-align: center;
  width: 115px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  user-select: none;
  right: 100px;
    p {
      background-color: #fff;
    }
    p:hover {
      background-color: #EEE;
      cursor: pointer;
    }
  }

.wrapper {
  display: flex;
  cursor: pointer;
  height: 25px;
  align-items: center;
  user-select: none;
}