@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "utils/variables.scss";

body {
  font-family: "Raleway", sans-serif;
  color: $default-text-color;
  margin: 0;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: $link-color;
}