@import '../../utils/variables.scss';

.active {
  color: $link-color;
  border-bottom: solid 2px $link-color;
  padding-bottom: 30px;
  font-weight: 600;
}

.label {
  color: $default-text-color;
}

.wrapper { 
  padding: 20px 100px 20px 100px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #fff;
  position: relative;
  z-index: 3;
}