@import '../../utils/variables.scss';

.labels {
  a:hover {
    border-bottom: solid 2px $link-color;
    padding-bottom: 30px;
    font-weight: 600;
  }
}

.currencyPicker {
  p {
    background-color: #fff;
  }
  p:hover {
    background-color: #EEE;
    cursor: pointer;
  }
}